{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <ul class="nav nav-tabs mb-4" id="authTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab">
                        {{ _('Login') }}
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register" type="button" role="tab">
                        {{ _('Register') }}
                    </button>
                </li>
            </ul>


            <div class="tab-content" id="authTabsContent">
   
                <div class="tab-pane fade show active" id="login" role="tabpanel">
                    <form method="POST" action="{{ url_for('index') }}">
                        <input type="hidden" name="form_type" value="login">
                        <div class="mb-3">
                            <input type="email" name="email" class="form-control" placeholder="{{ _('Email') }}" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" name="password" class="form-control" placeholder="{{ _('Password') }}" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">{{ _('Login') }}</button>
                    </form>
                </div>

                <div class="tab-pane fade" id="register" role="tabpanel">
                    <form method="POST" action="{{ url_for('index') }}">
                        <input type="hidden" name="form_type" value="register">
                        <div class="mb-3">
                            <input type="email" name="email" class="form-control" placeholder="{{ _('Email') }}" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" name="password" class="form-control" placeholder="{{ _('Password') }}" required>
                        </div>
                        <button type="submit" class="btn btn-success w-100">{{ _('Register') }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}